{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}Edytuj odbiorcę{% endblock %}

{% block page_content %}
    {% include 'AppRecipientBundle:Recipient:Elements/form.html.twig' with {'form': form, 'group': group} %}
{% endblock %}
