<div id="wizard" class="swMain">
    <!-- start: WIZARD SEPS -->
    <ul>
        {% for child in allForm %}
            {% if loop.index <= step.total %}
                <li>
                    {% set stepClass = 'disabled' %}
                    {% if loop.index == step.current %}
                        {% set stepClass = 'selected' %}
                    {% elseif loop.index < step.current %}
                        {% set stepClass = 'done' %}
                    {% endif %}

                    <a {% if stepClass != 'disabled' %}href=""{% endif %} class="{{ stepClass }}">
                        <div class="stepNumber">{{ loop.index }}</div>
                        <span class="stepDesc"><small> {{ ('app_campaign.'~child.config.options.label)|trans }} </small></span>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
