<!--ol class="breadcrumb">
    <li>
        <span>Pages</span>
    </li>
    <li class="active">
        <span>Blank Page</span>
    </li>
</ol-->

<ol class="breadcrumb">
    {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item(item)) %}
        {% if not loop.last and breadcrumb_item.label != 'root' %}
            <li><a href="{{ breadcrumb_item.uri }}">{{ breadcrumb_item.label }}</a></li>
        {% elseif breadcrumb_item.label != 'root' %}
            <li class="active"><span>{{ breadcrumb_item.label }}</span></li>
        {% endif %}
    {% endfor %}
</ol>

