{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        {% if options.rootClass is defined%}
            <div class="navbar-title">
                <span>{{ block('label') }}</span>
            </div>
        {% endif %}
        <ul class="{{ options.rootClass is defined ? options.rootClass }}">
            {% set options = options|merge({'rootClass': 'sub-menu' }) %}
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}">
        {%  if item.parent.name == 'root' %}
            <div class="item-content">
                <div class="item-media">
                    {% if item.attribute('icon') is not empty  %}
                        <span class="fa-stack"> <i class="fa fa-square fa-stack-2x"></i> <i class="fa {{ item.attribute('icon') }} fa-stack-1x fa-inverse"></i> </span>
                    {% endif %}
                </div>
                <div class="item-inner">
                    <span class="title">{{ block('label') }}</span>
                </div>
            </div>
        {% else %}
            <span class="title">{{ block('label') }}</span>
        {% endif %}
    </a>
{% endblock %}
