{% extends 'knp_menu.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not same as(0) and item.displayChildren %}
        {% import _self as knp_menu %}
        <ul class="{{ options.rootClass is defined ? options.rootClass }}">
            {% set options = options|merge({'rootClass': 'sub-menu' }) %}
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}

{% block linkElement %}
    <a href="{{ item.uri }}">
        {%  if item.parent.name == 'root' %}
            <div class="item-content">
                <div class="item-media">
                    {% if item.attribute('icon') is not empty  %}
                        <i class="{{ item.attribute('icon') }}"></i>
                    {% endif %}
                </div>
                <div class="item-inner">
                    <span class="title">{{ block('label') }}</span>
                </div>
            </div>
        {% else %}
            <span class="title">{{ block('label') }}</span>
        {% endif %}
    </a>
{% endblock %}

{% block spanElement %}
    <a href="javascript:void(0)">
        {%  if item.parent.name == 'root' %}
            <div class="item-content">
                <div class="item-media">
                    {% if item.attribute('icon') is not empty  %}
                        <i class="{{ item.attribute('icon') }}"></i>
                    {% endif %}
                </div>
                <div class="item-inner">
                    <span class="title"> {{ block('label') }} </span><i class="icon-arrow"></i>
                </div>
            </div>
        {% else %}
            <div class="item-inner">
                <span class="title"> {{ block('label') }} </span><i class="icon-arrow"></i>
            </div>
        {% endif %}
    </a>
{% endblock %}
