{% extends "AppFrontendBundle:Subscribe:base.html.twig" %}

{% block page_content %}
    {{ form_start(form) }}

    <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
        {{ form_label(form.email, null, {'label_attr': {
            'class' : 'control-label'
        }}) }}
        {{ form_widget(form.email, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.email) }}
    </div>

    {% for field in form.additionalDataValues %}
        <div class="form-group {% if not field.value.vars.valid %}has-error{% endif %}">
            {{ form_label(field.value, null, {'label_attr': {
                'class' : 'control-label'
            }}) }}
            {{ form_widget(field.value, {attr: {
                'class' : 'form-control'
            }}) }}
            {{ form_errors(field.value) }}
        </div>
    {% endfor %}

    <button class="btn btn-wide btn-blue btn-lg" style="float: right;background-color:#337ab7;color:white">
        <i class="fa fa-plus"></i> {{ 'submit'|trans }}
    </button>

    {{ form_end(form) }}
{% endblock %}
