{% extends '::base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->

    <!-- start: VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/themify-icons/themify-icons.min.css') }}">
    <link href="{{ asset('bundles/appfrontend/vendor/animate.css/animate.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/perfect-scrollbar/perfect-scrollbar.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/switchery/switchery.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/switchery/switchery.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/toastr/toastr.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/sweetalert/sweet-alert.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/bootstrap-datepicker/bootstrap-datepicker3.standalone.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('bundles/appfrontend/vendor/bootstrap-timepicker/bootstrap-timepicker.min.css') }}" rel="stylesheet" media="screen">
    <!-- end: VENDOR CSS -->

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/theme.css') }}" id="skin_color" />
    <!-- end: MAIN CSS -->
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="{{ asset('bundles/appfrontend/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/modernizr/modernizr.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/sweetalert/sweet-alert.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/Chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/jquery.sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/bootstrap-timepicker/bootstrap-timepicker.min.js') }}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="{{ asset('bundles/appfrontend/js/admin/main.js') }}?ver={{ 'now'|date('U') }}"></script>
    <script>
        jQuery(document).ready(function() {
            Main.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
{% endblock javascripts %}

{% block body %}
    <div id="app" class="app-navbar-fixed app-sidebar-fixed">
        <!-- sidebar -->
        <div class="sidebar app-aside" id="sidebar">
            <div class="sidebar-container perfect-scrollbar">
                <nav>
                    {% include 'AppFrontendBundle:Admin:navbar.html.twig' %}
                </nav>
            </div>
        </div>
        <!-- / sidebar -->

        <div class="app-content">
            <!-- start: TOP NAVBAR -->
            <header class="navbar navbar-default navbar-static-top">
                <!-- start: NAVBAR HEADER -->
                <div class="navbar-header">
                    <a href="#" class="sidebar-mobile-toggler pull-left hidden-md hidden-lg" class="btn btn-navbar sidebar-toggle" data-toggle-class="app-slide-off" data-toggle-target="#app" data-toggle-click-outside="#sidebar">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="navbar-brand" href="/">
                        E-MAILING.PL
                    </a>
                    <a href="#" class="sidebar-toggler pull-right visible-md visible-lg" data-toggle-class="app-sidebar-closed" data-toggle-target="#app">
                        <i class="ti-align-justify"></i>
                    </a>
                    <a class="pull-right menu-toggler visible-xs-block" id="menu-toggler" data-toggle="collapse" href=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="ti-view-grid"></i>
                    </a>
                </div>
                <!-- end: NAVBAR HEADER -->
                <!-- start: NAVBAR COLLAPSE -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-right">
                        <!-- start: USER OPTIONS DROPDOWN -->
                        <li class="dropdown current-user">
                            <a href class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('bundles/appfrontend/images/default-user.png') }}" alt=""> <span class="username">Admin <i class="ti-angle-down"></i></span>
                            </a>
                            <ul class="dropdown-menu dropdown-dark">
                                <li>
                                    <a href="pages_user_profile.html">
                                        Ustawienia
                                    </a>
                                </li>
                                <li>
                                    <a href="/logout">
                                        Wyloguj
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- end: USER OPTIONS DROPDOWN -->
                    </ul>
                </div>
                <!-- end: NAVBAR COLLAPSE -->
            </header>
            <!-- end: TOP NAVBAR -->
            <div class="main-content" >
                <div class="wrap-content container" id="container">
                    <!-- start: PAGE TITLE -->
                    <section id="page-title">
                        <div class="row">
                            <div class="col-sm-8">
                                <h1 class="mainTitle">{% block page_title %}{% endblock page_title %}</h1>
                                {% if block('page_description') is not empty %}
                                    <span class="mainDescription">{% block page_description %}{% endblock page_description %}</span>
                                {% endif %}
                            </div>
                            <div class="col-sm-4">
                                {% block page_title_right %}{% endblock page_title_right %}
                            </div>
                        </div>
                    </section>
                    <div class="container-fluid container-fullw bg-white">
                        {% block flash_message %}
                            {% include 'AppFrontendBundle:Admin:messages.html.twig' %}
                        {% endblock flash_message %}
                        {% block page_content %}{% endblock page_content %}
                    </div>
                </div>
            </div>
        </div>

        {% block footer %}
            {% block page_footer %}{% endblock page_footer %}

            {% include 'AppFrontendBundle:Admin:footer.html.twig' %}
        {% endblock footer %}

{% endblock body %}

