<!-- start: FOOTER -->
<footer>
    <div class="footer-inner">
        <div class="pull-left">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> Emailing24.pl</span>
        </div>
        <div class="pull-right">
            <span class="go-top"><i class="ti-angle-up"></i></span>
        </div>
    </div>
</footer>
<!-- end: FOOTER -->
<!-- start: OFF-SIDEBAR -->
<div id="off-sidebar" class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#off-users" aria-controls="off-users" role="tab" data-toggle="tab">
                    <i class="ti-comments"></i>
                </a>
            </li>
            <li>
                <a href="#off-favorites" aria-controls="off-favorites" role="tab" data-toggle="tab">
                    <i class="ti-heart"></i>
                </a>
            </li>
            <li>
                <a href="#off-settings" aria-controls="off-settings" role="tab" data-toggle="tab">
                    <i class="ti-settings"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- end: OFF-SIDEBAR -->
