{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div role="alert" class="alert alert-{{ label == 'error' ? 'danger' : label }}">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            {{ message }}.
        </div>
    {% endfor %}
{% endfor %}

