<!-- start: MAIN NAVIGATION MENU -->
<div class="navbar-title">
    <span>Nawigacja</span>
</div>
{{ knp_menu_render('mainMenu' , {'template': 'AppFrontendBundle:Admin:Menu/knp_admin_menu.html.twig', 'rootClass': 'main-navigation-menu', 'currentClass': 'active open'}) }}
{{ knp_menu_render('mainSubMenu' , {'template': 'AppFrontendBundle:Admin:Menu/knp_admin_submenu.html.twig', 'rootClass': 'folders', 'currentClass': 'active'}) }}
<div class="wrapper">
    <a href="{{ path('nelmio_api_doc_index') }}" class="button-o" target="_blank">
        <i class="ti-help"></i>
        <span>Dokumentacja API</span>
    </a>
</div>