{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appfrontend/js/admin/index.js') }}?ver={{ 'now'|date('U') }}"></script>
    <script>
        jQuery(document).ready(function() {
            Index.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
{% endblock javascripts %}

{% block page_title %}
    <i class="ti-home"></i> Pulpit
{% endblock %}

{% block page_title_right %}
    {# include 'AppHomepageBundle:Dashboard:Elements/miniStats.html.twig' #}
{% endblock %}

{% block page_content %}
    {% include 'AppHomepageBundle:Dashboard:Elements/linkBoxes.html.twig' %}
    {% include 'AppHomepageBundle:Dashboard:Elements/activeCampaigns.html.twig' %}
{% endblock %}

