{{ form_start(form) }}
    {% for child in form %}
        {% if loop.index <= step.current and step.current <= step.total %}
            <div>
                {% include "AppCampaignBundle:Mailing:Steps/"~child.vars.name~"Form.html.twig" with {'form': child} %}
            </div>
        {% endif %}
    {% endfor %}

     {{ form_widget(form.save, {attr: {
         'class' : 'btn btn-success',
         'style' : 'float:right;margin-left:10px'
     }}) }}
    <a href="{{ path('app_campaign_mailing_list') }}" class="btn btn-success btn-o" style="float: right;margin-right:10px">Anuluj</a>
{{ form_end(form) }}