{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="fa ti-eye"></i> {{ campaign.name }}{% endblock %}

{% block page_content %}

    <div class="panel panel-white">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><i class="ti-email {{ campaign.status|statusIconClass }}" title="{{ campaign.statusName }}"></i> <span class="{{ campaign.status|statusIconClass }}" style="font-size:16px">{{ campaign.statusName }}</span></h4>
            <ul class="panel-heading-tabs border-light">
                <li>
                    <div class="pull-right">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Akcje <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path("app_campaign_mailing_editform", {campaign: campaign.id}) }}">
                                        <i class="fa ti-pencil"></i> Edytuj
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_campaign_mailing_delete", {campaign: campaign.id}) }}">
                                        <i class="fa ti-trash"></i> Usuń
                                    </a>
                                </li>
                                {% if campaign.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_PAUSED') or campaign.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_IN_PROGRESS') %}
                                    <li class="divider"></li>
                                    <li>
                                        {% if campaign.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_PAUSED') %}
                                            <a href="{{ path("app_campaign_sender_run", {campaign: campaign.id}) }}">
                                                <i class="ti-control-play"></i> Kontynuuj
                                            </a>
                                        {% else %}
                                            <a href="{{ path("app_campaign_sender_stop", {campaign: campaign.id}) }}">
                                                <i class="ti-control-pause"></i> Zatrzymaj
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel-tools">
                    <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <p style="text-align:right">
                <strong>Ostatnia aktualizacja:</strong> {{ campaign.updated|date("d/m/Y H:i") }}
            </p>
            <p>
                <h5>Stan wysyłki</h5>
                <div class="progress">
                    {% set percentValue = (campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles) == 0 ? 0 : campaign.campaignStat.numberOfSent * 100 / (campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles) %}
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{ percentValue|round(0, 'ceil') }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentValue|round(0, 'ceil') }}%;">
                        {{ campaign.campaignStat.numberOfSent }} / {{ campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles }}
                    </div>
                </div>
                <h5>Ilość otwartych wiadomości</h5>
                <div class="progress">
                    {% set percentValue = (campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles) == 0 ? 0 : campaign.campaignStat.numberOfOpened * 100 / (campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles) %}
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percentValue|round(0, 'ceil') }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percentValue|round(0, 'ceil') }}%;">
                        {{ campaign.campaignStat.numberOfOpened }} / {{ campaign.campaignStat.numberOfAll * campaign.campaignStat.numberOfCycles }}
                    </div>
                </div>
            </p>
        </div>
    </div>

{% endblock %}

