<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Testy A/B
            </h5>
        </div>
        <div class="panel-body">
            {{ form_label(form.isEnabled, null, {'label_attr': {
                'class' : 'control-label'
            }}) }}
            <div class="checkbox">
                <input type="checkbox" class="js-switch" name="abTest[isEnabled]" value="1" {{ form.isEnabled.vars.value == 1 or form.subjectA.vars.value is not empty ? 'checked' : '' }}/>
            </div>
            {% do form.isEnabled.setRendered %}

            <div id="isABTestEnabledContainer" class="{{ form.isEnabled.vars.value == 1 or form.subjectA.vars.value is not empty ? '' : 'form_disabled' }}">
                <div class="form-group {% if not form.subjectA.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.subjectA, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.subjectA, {attr: {
                        'class' : 'form-control',
                        'disabled': form.isEnabled.vars.value == 0 and form.subjectA.vars.value is empty
                    }}) }}
                    {{ form_errors(form.subjectA) }}
                </div>

                <div class="form-group {% if not form.subjectB.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.subjectB, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.subjectB, {attr: {
                        'class' : 'form-control',
                        'disabled': form.isEnabled.vars.value == 0 and form.subjectA.vars.value is empty
                    }}) }}
                    {{ form_errors(form.subjectB) }}
                </div>

                <div class="form-group {% if not form.percentage.vars.valid %}has-error{% endif %}" style="max-width: 200px">
                    {{ form_label(form.percentage, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.percentage, {attr: {
                        'class' : 'form-control',
                        'disabled': form.isEnabled.vars.value == 0 and form.subjectA.vars.value is empty
                    }}) }}
                    {{ form_errors(form.percentage) }}
                </div>

                <div class="form-group {% if not form.finishAfterSeconds.vars.valid %}has-error{% endif %}" style="max-width: 200px">
                    {{ form_label(form.finishAfterSeconds, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.finishAfterSeconds, {attr: {
                        'class' : 'form-control',
                        'disabled': form.isEnabled.vars.value == 0 and form.subjectA.vars.value is empty
                    }}) }}
                    {{ form_errors(form.finishAfterSeconds) }}
                </div>
            </div>
        </div>
    </div>
</div>