<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Parametry podstawowe
            </h5>
        </div>
        <div class="panel-body">
            <div class="form-group {% if not form.autoresponder.name.vars.valid %}has-error{% endif %}">
                {{ form_label(form.autoresponder.name, null, {'label_attr': {
                    'class' : 'control-label'
                }}) }}
                {{ form_widget(form.autoresponder.name, {attr: {
                    'class' : 'form-control'
                }}) }}
                {{ form_errors(form.autoresponder.name) }}
            </div>

            <div class="form-group {% if not form.autoresponder.autoresponderCyclic.sendingFrequency.vars.valid %}has-error{% endif %}">
                {{ form_label(form.autoresponder.autoresponderCyclic.sendingFrequency, null, {'label_attr': {
                    'class' : 'control-label'
                }}) }}
                {{ form_widget(form.autoresponder.autoresponderCyclic.sendingFrequency, {attr: {
                    'class' : 'form-control'
                }}) }}
                {{ form_errors(form.autoresponder.autoresponderCyclic.sendingFrequency) }}
            </div>
        </div>
    </div>
</div>

<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Parametry wiadomości
            </h5>
        </div>
        <div class="panel-body">
                <div class="form-group {% if not form.subject.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.subject, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.subject, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.subject) }}
                </div>

                <div class="form-group {% if not form.fromName.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.fromName, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.fromName, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.fromName) }}
                </div>

                <div class="form-group {% if not form.fromEmail.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.fromEmail, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.fromEmail, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.fromEmail) }}
                </div>

                <div class="form-group {% if not form.replyEmail.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.replyEmail, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.replyEmail, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.replyEmail) }}
                </div>
        </div>
    </div>
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Data rozpoczęcia kampanii
            </h5>
        </div>
        <div class="panel-body" style="max-width:200px">
                <div class="radio clip-radio radio-success">
                    <input type="radio" id="sendnow-radio1" name="params[sendNow]" {% if form.sendNow.vars.value == 0 %}checked{% endif %} value="0">
                    <label for="sendnow-radio1">
                        Wyślij natychmiast
                    </label>
                </div>
                <div class="radio clip-radio radio-success">
                    <input type="radio" id="sendnow-radio2" name="params[sendNow]" {% if form.sendNow.vars.value == 1 %}checked{% endif %} value="1">
                    <label for="sendnow-radio2">
                        Określ datę i czas
                    </label>
                </div>

                <div id="dateFormContainer">
                    <h5>Wybierz datę</h5>
                    <span class="form-group input-icon input-icon-right">
                        <input type="text" name="params[start][date]" value="{{ form.start.vars.value.date is defined ? form.start.vars.value.date : '' }}" class="form-control datepicker" id="start-datepicker"/>
                        <i class="ti-calendar"></i>
                    </span>

                    <h5>Wybierz czas</h5>
                    <span class="form-group input-icon input-icon-right">
                        <input type="text" name="params[start][time]" value="{{ form.start.vars.value.time is defined ? form.start.vars.value.time : '' }}" class="form-control timepicker" id="start-timepicker"/>
                        <i class="ti-time"></i>
                    </span>
                </div>
        </div>
    </div>
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Data zakończenia kampanii
            </h5>
        </div>
        <div class="panel-body" style="max-width:200px">
            <div>
                <h5>Wybierz datę</h5>
                <span class="form-group input-icon input-icon-right">
                        <input type="text" name="params[end][date]" required value="{{ form.end.vars.value.date is defined ? form.end.vars.value.date : '' }}" class="form-control" id="end-datepicker" />
                        <i class="ti-calendar"></i>
                    </span>

                <h5>Wybierz czas</h5>
                <span class="form-group input-icon input-icon-right">
                        <input type="text" name="params[end][time]" required value="{{ form.end.vars.value.time is defined ? form.end.vars.value.time : ''}}" class="form-control" id="end-timepicker" />
                        <i class="ti-time"></i>
                    </span>
            </div>
        </div>
    </div>
</div>

{% do form.sendNow.setRendered %}
{% do form.start.setRendered %}
{% do form.end.setRendered %}




