<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Grupy odbiorców
            </h5>
        </div>
        <div class="panel-body">
            <div class="checkbox clip-check check-success checkbox-inline" >
                    {{ form_label(form.recipientGroups, null) }}
                    {{ form_widget(form.recipientGroups) }}
            </div>
        </div>
    </div>
</div>