{% extends '::base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
{% endblock %}

{% block body %}

    {% block page_content %}{% endblock page_content %}

    {% block footer %}
        {% block page_footer %}{% endblock page_footer %}

        {% include 'AppFrontendBundle:Default:footer.html.twig' %}
    {% endblock footer %}
{% endblock body %}

