<div class="row">
    <div class="col-md-12">
        <div class="tabbable">
            <ul id="myTab2" class="nav nav-tabs nav-justified">
                <li class="active">
                    <a href="#myTab2_example1" data-toggle="tab">
                        <i class="fa fa-share fa-1x"></i> Aktywny mailing
                    </a>
                </li>
                <li>
                    <a href="#myTab2_example2" data-toggle="tab">
                        <i class="fa fa-recycle fa-1x"></i> Aktywny autoresponder
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active" id="myTab2_example1">
                    <table class="table table-hover" id="sample-table-1">
                        <thead>
                            <tr>
                                <th>Nazwa</th>
                                <th class="hidden-xs">Data aktualizacji</th>
                                <th class="hidden-xs">Data rozpoczęcia</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for mailing in activeMailingList %}
                            <tr>
                                <td><a href="{{ path("app_campaign_mailing_get", {campaign: mailing.id}) }}">{{ mailing.name }}</a></td>
                                <td class="hidden-xs">{{ mailing.updated|date("d/m/Y H:i") }}</td>
                                <td class="hidden-xs">{{ mailing.start|date("d/m/Y H:i") }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="myTab2_example2">
                    <table class="table table-hover" id="sample-table-1">
                        <thead>
                        <tr>
                            <th>Nazwa</th>
                            <th class="hidden-xs">Data aktualizacji</th>
                            <th class="hidden-xs">Data rozpoczęcia</th>
                            <th>Typ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for autoresponder in activeAutoresponderList %}
                            <tr>
                                <td><a href="{{ path("app_campaign_autoresponder"~autoresponder.typeName~"_get", {autoresponder: autoresponder.id}) }}">{{ autoresponder.name }}</a></td>
                                <td class="hidden-xs">{{ autoresponder.updated|date("d/m/Y H:i") }}</td>
                                <td class="hidden-xs">{{ autoresponder.lastCampaign.start|date("d/m/Y H:i") }}</td>
                                <td>{{ ('app_campaign.autoresponder.type.'~autoresponder.typeName)|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
