<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-white no-radius text-center">
            <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-green"></i> <i class="fa ti-layers-alt fa-2 fa-inverse"></i> </span>
                <h2 class="StepTitle">Szablony</h2>
                <p class="text-small">
                    Utwórz szablon wiadomości email.
                </p>
                <a href="{{ path("app_template_template_create") }}" class="btn btn-o" style="margin:0 auto; border:solid 1px #1FBBA6; color:#1FBBA6">
                    Utwórz
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-white no-radius text-center">
            <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-red"></i> <i class="fa ti-user fa-2 fa-inverse"></i> </span>
                <h2 class="StepTitle">Odbiorcy</h2>
                <p class="text-small">
                    Utwórz grupę subskrypcji.
                </p>
                <a href="{{ path("app_recipient_group_create") }}" class="btn btn-o" style="margin:0 auto; border:solid 1px #C82E29; color:#C82E29">
                    Utwórz
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-white no-radius text-center">
            <div class="panel-body">
                <span class="fa-stack fa-2x"> <i class="fa fa-square fa-stack-2x text-yellow"></i> <i class="fa fa-share fa-2 fa-inverse"></i> </span>
                <h2 class="StepTitle">Mailing</h2>
                <p class="text-small">
                    Utwórz kampanię mailingową.
                </p>
                <a href="{{ path("app_campaign_mailing_create") }}" class="btn btn-o" style="margin:0 auto; border:solid 1px #FFB848; color:#FFB848">
                    Utwórz
                </a>
            </div>
        </div>
    </div>
</div>
