<ul class="mini-stats pull-right">
    <li>
        <div class="sparkline-2">
            <span ></span>
        </div>
        <div class="values">
            <strong class="text-dark">18304</strong>
            <p class="text-small no-margin">
                Wysłanych
            </p>
        </div>
    </li>
    <li>
        <div class="sparkline-1">
            <span ></span>
        </div>
        <div class="values">
            <strong class="text-dark">18304</strong>
            <p class="text-small no-margin">
                Zapisanych
            </p>
        </div>
    </li>
    <li>
        <div class="sparkline-3">
            <span ></span>
        </div>
        <div class="values">
            <strong class="text-dark">18304</strong>
            <p class="text-small no-margin">
                Otwartych
            </p>
        </div>
    </li>
</ul>
