{{ form_start(form) }}

    <div class="form-group {% if not form.name.vars.valid %}has-error{% endif %}">
        {{ form_label(form.name, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.name, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.name) }}
    </div>


    <div class="form-group {% if not form.description.vars.valid %}has-error{% endif %}">
        {{ form_label(form.description, null, {'label_attr': {
            'class' : 'control-label'
        }}) }}
        {{ form_widget(form.description, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.description) }}
    </div>


    <button type="submit" class="btn btn-success" style="float: right;">{{ 'submit'|trans }}</button>
    <a href="{{ path('app_recipient_group_list') }}" class="btn btn-success btn-o" style="float: right;margin-right:10px">Anuluj</a>

{{ form_end(form) }}
