{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="fa ti-eye"></i> {{ autoresponder.name }}{% endblock %}

{% block page_content %}

    <div class="panel panel-white">
        <div class="panel-heading border-light">
            <h4 class="panel-title"><i class="ti-email {{ autoresponder.lastCampaign.status|statusIconClass }}" title="{{ autoresponder.lastCampaign.statusName }}"></i> <span class="{{ autoresponder.lastCampaign.status|statusIconClass }}" style="font-size:16px">{{ autoresponder.lastCampaign.statusName }}</span></h4>
            <ul class="panel-heading-tabs border-light">
                <li>
                    <div class="pull-right">
                        <div class="btn-group" dropdown>
                            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                                Akcje <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="{{ path("app_campaign_autorespondersignup_editform", {autoresponder: autoresponder.id}) }}">
                                        <i class="fa ti-pencil"></i> Edytuj
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ path("app_campaign_autorespondersignup_delete", {autoresponder: autoresponder.id}) }}">
                                        <i class="fa ti-trash"></i> Usuń
                                    </a>
                                </li>
                                {% if autoresponder.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_PAUSED') or autoresponder.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_IN_PROGRESS') %}
                                    <li class="divider"></li>
                                    <li>
                                        {% if autoresponder.status == constant('App\\CampaignBundle\\Model\\CampaignStatusInterface::STATUS_PAUSED') %}
                                            <a href="{{ path("app_campaign_sender_run", {campaign: autoresponder.lastCampaign.id}) }}">
                                                <i class="ti-control-play"></i> Kontynuuj
                                            </a>
                                        {% else %}
                                            <a href="{{ path("app_campaign_sender_stop", {campaign: autoresponder.lastCampaign.id}) }}">
                                                <i class="ti-control-pause"></i> Zatrzymaj
                                            </a>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="panel-tools">
                    <a data-original-title="Refresh" data-toggle="tooltip" data-placement="top" class="btn btn-transparent btn-sm panel-refresh" href="#"><i class="ti-reload"></i></a>
                </li>
            </ul>
        </div>
        <div class="panel-body">
            <p style="text-align:right">
                <strong>Ostatnia aktualizacja:</strong> {{ autoresponder.updated|date("d/m/Y H:i") }}
            </p>
            <p>
                <strong>Ilość wysyłek:</strong> {{ autoresponder.lastCampaign.campaignStat.numberOfSent }}
            </p>
        </div>
    </div>

{% endblock %}

