{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}Import odbiorców{% endblock %}
{% block page_description %}Zaibmportuj listę adresów odbiorców z formularza{% endblock %}

{% block page_content %}

    <p>Adresy muszą być oddzielone znakiem <span class="badge badge-success">;</span> .</p>
    <p>
        Przykład poprawnego importu: <span class="label label-warning">jnowak@domena.com;skowalski@domena.com</span>
    </p>

    {{ form_start(form) }}

    <div class="form-group {% if not form.text.vars.valid %}has-error{% endif %}">
        {{ form_widget(form.text, {attr: {'class' : 'form-control', 'style' : 'height:200px'}}) }}
        {{ form_errors(form.text) }}
    </div>

    <button type="submit" class="btn btn-success" style="float: right;">{{ 'import'|trans }}</button>
    <a href="{{ path('app_recipient_recipient_list', {group: group.id}) }}" class="btn btn-success btn-o" style="float: right;margin-right:10px">Anuluj</a>

    {{ form_end(form) }}
{% endblock %}