{% extends "AppFrontendBundle:Security:base.html.twig" %}

{% block page_content %}
    <!-- start: LOGIN BOX -->
    <div class="box-login">
        {% if error %}
            <div class="alert alert-danger">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        <form class="form-login" action="{{ path('app_login') }}" method="post">
            <fieldset>
                <legend>
                    Formularz logowania
                </legend>
                <p>
                    Podaj login i hasło.
                </p>
                <div class="form-group">
                    <span class="input-icon">
                        <input type="text" class="form-control" name="_username" placeholder="Login" value="{{ last_username }}">
                        <i class="fa fa-user"></i>
                    </span>
                </div>
                <div class="form-group form-actions">
                    <span class="input-icon">
						<input type="password" class="form-control password" name="_password" placeholder="Hasło">
                        <i class="fa fa-lock"></i>
                    </span>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary pull-right">
                        Login <i class="fa fa-arrow-circle-right"></i>
                    </button>
                </div>
            </fieldset>
        </form>
        <!-- start: COPYRIGHT -->
        <div class="copyright">
            &copy; <span class="current-year"></span><span class="text-bold text-uppercase"> EMAILING24.PL</span>
        </div>
        <!-- end: COPYRIGHT -->
    </div>
    <!-- end: LOGIN BOX -->
{% endblock %}

