{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appfrontend/js/admin/campaign/form.js') }}?ver={{ 'now'|date('U') }}"></script>
{% endblock javascripts %}

{% block page_title %}<i class="fa fa-plus"></i> Utwórz autoresponder cyckliczny{% endblock %}

{% block page_content %}
    {{ html|raw }}
{% endblock %}
