{% include "AppCampaignBundle:Elements:stepProgress.html.twig" with {'allForm': allForm, 'step': step} %}

{{ form_start(form) }}
    {% for child in form %}
        {% if loop.index <= step.current and step.current <= step.total %}
            <div style="display:{% if loop.index == step.current%}block{% else %}none{% endif %}">
                {% include "AppCampaignBundle:Autoresponder:Cyclic/Steps/"~child.vars.name~"Form.html.twig" with {'form': child} %}
            </div>
        {% endif %}
    {% endfor %}

    {{ form_widget(form.save, {attr: {
        'class' : 'btn btn-success',
        'style' : 'float:right;margin-left:10px'
    }}) }}

    {{ form_widget(form.next, {attr: {
        'class' : 'btn btn-success',
        'style' : 'float:right;margin-left:10px'
    }}) }}

    {{ form_widget(form.back, {attr: {
        'class' : 'btn btn-success',
        'style' : 'float:right'
    }}) }}

{{ form_end(form) }}