{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appfrontend/js/admin/recipient/formcreator.js') }}?ver={{ 'now'|date('U') }}"></script>
    <script>
        jQuery(document).ready(function() {
            FormCreator.initSettings('{{ app.request.getSchemeAndHttpHost()~path('app_recipient_subscribe_post', {group: group.hash}) }}');
            $("#form-generate-btn").click();
        });
    </script>
{% endblock javascripts %}

{% block page_title %}<i class="ti-check-box"></i> Zapis na subskrypcję{% endblock %}
{% block page_description %}Wybierz pola, które powinny znaleźć się w formularzu subskrypcji{% endblock %}

{% block page_content %}
    <div>
        <input type="hidden" name="hash" value="{{ group.hash }}"/>
        <table class="table table-hover">
            <tr>
                <th>Pole</th>
                <th>Nazwa pola widoczna w formularzu</th>
            </tr>
            <tr>
                <td style="width:15px">
                    <div class="checkbox clip-check check-success checkbox-inline">
                        <input type="checkbox" id="email-checkbox" class="field-checkbox" value="email" checked disabled />
                        <label for="email-checkbox">
                            Email
                        </label>
                    </div>
                </td>
                <td>
                    <div class="form-group" style="margin-bottom: 0px">
                        <input type="text" class="form-control" id="email-title" value="Email" />
                    </div>
                </td>
            </tr>
            {% for field in group.additionalData %}
                <tr>
                    <td>
                        <div class="checkbox clip-check check-success checkbox-inline">
                            <input type="checkbox" id="{{ field.name }}-checkbox" class="field-checkbox" value="{{ field.name }}" />
                            <label for="{{ field.name }}-checkbox">
                                {{ field.name|capitalize  }}
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="form-group " style="margin-bottom:0px">
                            <input type="text" class="form-control" id="{{ field.name }}-title" value="{{ field.name|capitalize }}" />
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>Skopiuj kod formularza i wklej na stronie</p>
        <div class="form-group">
            <textarea style="width:100%;height:200px" readonly id="form-generate-output">
            </textarea>
        </div>

        <button type="submit" class="btn btn-success" id="form-generate-btn" style="float: right;">{{ 'generate'|trans }}</button>
    </div>
{% endblock %}
