{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="fa ti-settings"></i> Edytuj ustawienia API{% endblock %}

{% block page_content %}

    {{ form_start(form) }}

    <div class="form-group {% if not form.apiKey.vars.valid %}has-error{% endif %}">
        {{ form_label(form.apiKey, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.apiKey, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.apiKey) }}
    </div>
    <button type="submit" class="btn btn-success" style="float: right;">{{ 'submit'|trans }}</button>

    {{ form_end(form) }}

{% endblock %}