/* ---------------------------------------------------------------------- */
/*  Theme 5
/* ---------------------------------------------------------------------- */
::-moz-selection {
  background: #1FBBA6;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: #1FBBA6;
  text-shadow: none;
  color: #ffffff;
}

body {
  background: #F8F8F8;
}

@media (max-width: 991px) {
  .app-content {
    background: #F8F8F8;
  }
}

header .navbar-header {
  background: #2C3543 !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
}
header .navbar-header .sidebar-toggler, header .navbar-header .sidebar-mobile-toggler {
  color: #5F8295 !important;
}
header .navbar-header .navbar-brand {
  color: #ffffff !important;
}
header .navbar-header .menu-toggler {
  color: #5F8295 !important;
}
header .navbar-collapse {
  background: #2C3543 !important;
  border-bottom-color: #394557 !important;
  box-shadow: none !important;
}
header .navbar-collapse .navbar-right > li > a {
  color: #ffffff;
}
header .navbar-collapse .navbar-right > li > a i {
  color: #5F8295 !important;
}
header .navbar-collapse .navbar-right > li > a:hover, header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
  background: #1c222a !important;
}
header .navbar-collapse .navbar-right > li.open > a {
  background: #1c222a !important;
}
header .navbar-collapse .navbar-right .dot-badge {
  border-color: #2C3543;
}
@media (max-width: 991px) {
  header .navbar-collapse {
    background: #2C3543 !important;
    box-shadow: none;
  }
  header .navbar-collapse .navbar-right > li.open {
    background: #1c222a !important;
  }
  header .navbar-collapse .navbar-right > li:hover, header .navbar-collapse .navbar-right > li:active, header .navbar-collapse .navbar-right > li:focus {
    background: #1c222a !important;
  }
  header .navbar-collapse .navbar-right > li > a {
    color: #ffffff;
  }
  header .navbar-collapse .navbar-right > li > a i {
    color: #5F8295 !important;
  }
  header .navbar-collapse .navbar-right > li > a:hover {
    background: #1c222a !important;
  }
  header .navbar-collapse .navbar-right > li > a:focus, header .navbar-collapse .navbar-right > li > a:active {
    background: none !important;
  }
  header .navbar-collapse .navbar-right > li.open > a {
    background: #1c222a !important;
  }
}
@media (max-width: 991px) and (max-width: 767px) {
  header .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid #394557 !important;
  }
}
@media (max-width: 991px) {
  header .navbar-collapse .navbar-right .dot-badge {
    border-color: #2C3543;
  }
}
@media (max-width: 767px) {
  header .navbar-collapse {
    background: #222934 !important;
  }
  header .navbar-collapse .close-handle {
    background: #2C3543;
  }
  header .navbar-collapse .close-handle .arrow-left, header .navbar-collapse .close-handle .arrow-right {
    background-color: #5F8295;
  }
  header .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(95, 130, 149, 0.3);
  }
}
header .dropdown-off-sidebar {
  border-left-color: #394557 !important;
  background: #2C3543 !important;
  color: #5F8295 !important;
}
@media (max-width: 991px) {
  header .dropdown-off-sidebar {
    background: #2C3543 !important;
    border-left-color: transparent !important;
    color: #5F8295 !important;
  }
}

#sidebar {
  background: #364150 !important;
}
#sidebar:before {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav {
  border-right-width: 0 !important;
  border-right-style: solid;
  border-right-color: transparent !important;
}
#sidebar nav .navbar-title {
  color: rgba(255, 255, 255, 0.3);
}
#sidebar nav > ul {
  background: #2C3541 !important;
  border-bottom-color: #394557 !important;
  border-top-color: #394557 !important;
}
#sidebar nav > ul > li a:active:focus {
  background: #171c23 !important;
}
#sidebar nav > ul > li > a .item-media > i {
  color: rgba(255, 255, 255, 0.8) !important;
}
#sidebar nav > ul > li > a .item-media .fa-stack .fa-square {
  color: #81B441 !important;
}
#sidebar nav > ul > li > a .item-inner {
  color: rgba(255, 255, 255, 0.5) !important;
  border-bottom-color: #394557;
}
#sidebar nav > ul > li.hover {
  background: #222932 !important;
}
#sidebar nav > ul > li.open {
  background: #222932 !important;
}
.no-touch #sidebar nav > ul > li:hover {
  background: #222932 !important;
}
#sidebar nav > ul > li.active {
  background: #81B441 !important;
}
#sidebar nav > ul > li.active:hover {
  background: #81B441 !important;
}
@media (min-width: 992px) {
  #sidebar nav > ul > li.active:before {
    border-right-color: transparent !important;
  }
  #sidebar nav > ul > li.active:after {
    border-right-color: #F8F8F8 !important;
  }
}
#sidebar nav > ul > li.active > a:active:focus {
  background: #74a13a !important;
}
#sidebar nav > ul > li.active > a .item-inner {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media > i {
  color: #ffffff !important;
}
#sidebar nav > ul > li.active > a .item-media .fa-stack .fa-square {
  color: /*#007aff*/green !important;
}
#sidebar nav > ul > li.active .sub-menu {
  background: #262e38;
}
#sidebar nav > ul .sub-menu {
  background: #262e38;
}
#sidebar nav > ul .sub-menu > li.open {
  background: #222932 !important;
}
#sidebar nav > ul .sub-menu > li a {
  color: rgba(255, 255, 255, 0.5);
}
#sidebar nav > ul .sub-menu > li.active > a {
  background: #13171d !important;
}
#sidebar nav ul > li.hover {
  background: #222932;
}
.no-touch #sidebar nav ul > li:hover {
  background: #222932;
}
#sidebar nav ul > li.open {
  background: #222932;
}
#sidebar nav .button-o {
  border-color: rgba(255, 255, 255, 0.8) !important;
  color: rgba(255, 255, 255, 0.8) !important;
}

@media (min-width: 992px) {
  .app-sidebar-closed .app-aside .search-form {
    background: #2a323e !important;
    border-bottom-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .search-form > a {
    color: rgba(255, 255, 255, 0.3);
  }
  .app-sidebar-closed .app-aside .navbar-form {
    background: #2a323e !important;
  }
  .app-sidebar-closed .app-aside .navbar-form a {
    color: rgba(255, 255, 255, 0.3) !important;
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input {
    background: rgba(255, 255, 255, 0.4);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-webkit-input-placeholder {
    /* WebKit browsers */
    color: rgba(255, 255, 255, 0.3);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: rgba(255, 255, 255, 0.3);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: rgba(255, 255, 255, 0.3);
  }
  .app-sidebar-closed .app-aside .navbar-form .form-group input:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: rgba(255, 255, 255, 0.3);
  }
  .app-sidebar-closed .app-aside > .item-inner {
    background: #171c23 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner .title {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active {
    background: #171c23 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner.active:after {
    border-left: 12px solid #81B441 !important;
  }
  .app-sidebar-closed .app-aside > .item-inner:before {
    border-left: 12px solid transparent;
  }
  .app-sidebar-closed .app-aside > .item-inner:after {
    border-left: 12px solid #222932 !important;
  }
  .app-sidebar-closed .app-aside .form-group {
    background: #2a323e !important;
    border-color: transparent !important;
  }
  .app-sidebar-closed .app-aside .sub-menu {
    background: #2C3541;
  }
  .app-sidebar-closed .app-aside .sub-menu li a {
    color: rgba(255, 255, 255, 0.5) !important;
  }
  .app-sidebar-closed .app-aside .sub-menu li a.hover {
    background: #171c23 !important;
  }
  .no-touch .app-sidebar-closed .app-aside .sub-menu li a:hover {
    background: #171c23 !important;
  }
  .app-sidebar-closed .app-aside .sub-menu li.active > a, .app-sidebar-closed .app-aside .sub-menu li.open > a {
    background: #171c23 !important;
  }
}
@media (min-width: 992px) {
  .app-sidebar-closed ul.sub-menu {
    border-right-color: #394557 !important;
    border-bottom-color: #394557 !important;
  }
}

.navbar-form {
  background: #2a323e !important;
}
.navbar-form .search-button {
  color: rgba(255, 255, 255, 0.3);
}
.navbar-form .form-control {
  background: transparent !important;
}
.navbar-form .form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(255, 255, 255, 0.3);
}
.navbar-form .form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(255, 255, 255, 0.3);
}
.navbar-form .form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(255, 255, 255, 0.3);
}
.navbar-form .form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(255, 255, 255, 0.3);
}
.navbar-form .form-control:focus {
  background-color: #ffffff !important;
  border-color: #ffffff;
  transition: all 300ms ease-in 0s;
}
.navbar-form .form-control:focus + .search-button {
  color: #aeacb4;
}
.navbar-form .form-control:focus::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #c2c2c5 !important;
}
.navbar-form .form-control:focus:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #c2c2c5 !important;
}

#off-sidebar {
  background: #364150 !important;
  border-color: #394557 !important;
}
#off-sidebar .sidebar-back {
  color: #5F8295;
}
#off-sidebar .tab-content {
  background: #364150 !important;
}
#off-sidebar .nav-tabs.nav-justified > li > a {
  border-color: #394557;
  color: rgba(95, 130, 149, 0.7);
  background: #2c3541;
}
#off-sidebar .nav-tabs.nav-justified > li > a:hover, #off-sidebar .nav-tabs.nav-justified > li > a:focus {
  background: #212832;
  color: rgba(95, 130, 149, 0.8);
}
#off-sidebar .nav-tabs.nav-justified > li.active > a, #off-sidebar .nav-tabs.nav-justified > li.active > a:hover, #off-sidebar .nav-tabs.nav-justified > li.active > a:focus {
  color: #5F8295;
  background: #364150;
  border-bottom-color: #364150;
}
#off-sidebar .media-list .media {
  border-color: #394557;
  color: #ffffff;
}
#off-sidebar .media-list .media a:hover {
  background: #212832;
}
#off-sidebar .media-list .media .media-heading {
  color: #ffffff !important;
}
#off-sidebar .media-list .media .media-body span {
  color: white;
}
#off-sidebar .sidebar-title {
  color: #ffffff;
}
#off-sidebar .discussion .messages-date {
  color: #ffffff;
}
#off-sidebar .discussion .message-name {
  color: #ffffff;
}
#off-sidebar .message-bar {
  background: #212832;
  border-top-color: #394557;
}
#off-sidebar .message-bar textarea {
  background: #fff;
  border-color: #394557;
}
#off-sidebar .message-bar .link {
  color: #5F8295;
}
#off-sidebar .message-bar a.icon-only {
  color: #ffffff;
}

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #14181F !important;
}

#app > footer {
  background: #2C3543 !important;
  border-top-color: transparent !important;
  color: #ffffff;
}
