{{ form_start(form) }}

    <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %}">
        {{ form_label(form.email, null, {'label_attr': {
            'class' : 'control-label'
        }}) }}
        {{ form_widget(form.email, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.email) }}
    </div>

    {% for field in form.additionalDataValues %}
            <div class="form-group {% if not field.value.vars.valid %}has-error{% endif %}">
                {{ form_label(field.value, null, {'label_attr': {
                    'class' : 'control-label'
                }}) }}
                {{ form_widget(field.value, {attr: {
                    'class' : 'form-control'
                }}) }}
                {{ form_errors(field.value) }}
            </div>
    {% endfor %}

    <button type="submit" class="btn btn-success" style="float: right;">{{ 'submit'|trans }}</button>
    <a href="{{ path('app_recipient_recipient_list', {group: group.id}) }}" class="btn btn-success btn-o" style="float: right;margin-right:10px">Anuluj</a>

{{ form_end(form) }}
