{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="fa fa-plus"></i> Utwórz grupę odbiorców{% endblock %}

{% block page_content %}
    {% include 'AppRecipientBundle:Group:Elements/form.html.twig' with {'form': form} %}
{% endblock %}
