{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appfrontend/js/admin/recipient/field.js') }}?ver={{ 'now'|date('U') }}"></script>
{% endblock javascripts %}

{% block page_title %}<i class="ti-menu"></i> Lista dodatkowych pól odbiorcy{% endblock %}

{% block page_content %}

<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 space20">
                <button class="btn btn-wide btn-success" id="add-field">
                    Dodaj <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>

        {{ form_start(form) }}
            <table class="table table-hover" id="fields-table" data-prototype="{% filter escape %}{{ include('AppRecipientBundle:Field:prototype.html.twig', { 'field': form.fields.vars.prototype })}}{% endfilter %}">
                    <tr>
                        <th>Nazwa pola</th>
                        <th>Tag</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group " style="margin-bottom:0px">
                                <input type="text" value="email" class="form-control" readonly="readonly">
                            </div>
                        </td>
                        <td>
                            <div class="form-group " style="margin-bottom:0px">
                                <input type="text" value="$$email$$" class="form-control" readonly="readonly">
                            </div>
                        </td>
                        <td></td>
                    </tr>
                    {% for field in form.fields %}
                        {{ include('AppRecipientBundle:Field:prototype.html.twig', { 'field': field }) }}
                    {% endfor %}
            </table>

            <button type="submit" class="btn btn-success" style="float: right;">{{ 'submit'|trans }}</button>
            <a href="{{ path('app_recipient_recipient_list', {group: group.id}) }}" class="btn btn-success btn-o" style="float: right;margin-right:10px">Anuluj</a>

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
