{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}Lista pól odbiorcy{% endblock %}

{% block page_content %}
    <ul>
        {% for field in list %}
            <li>
                {{ field.name }} - {{ field.tag }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}