<tr>
    <td style="vertical-align: top;" class="field-name-td">
        {{ form_widget(field.entity) }}
        <div class="form-group {% if not field.name.vars.valid %}has-error{% endif %}" style="margin-bottom:0px">
            {{ form_widget(field.name, {attr: {'class' : 'form-control'}}) }}
            {{ form_errors(field.name) }}
        </div>
    </td>
    <td style="vertical-align: top;" class="field-tag-td">
        <div class="form-group {% if not field.tag.vars.valid %}has-error{% endif %}" style="margin-bottom:0px">
            {{ form_widget(field.tag, {attr: {'class' : 'form-control'}}) }}
            {{ form_errors(field.tag) }}
        </div>
    </td>
    <td class="center">
        <a href="#" class="btn btn-transparent btn-xs tooltips remove-fields" data-toggle="tooltip" title="Usuń"><i class="fa fa-times fa fa-white"></i></a>
    </td>
</tr>