<div class="panel-body">
    <div class="radio clip-radio radio-success">
        <input type="radio" id="datetime-send-radio1" name="start[datetime_send]" checked value="0">
        <label for="datetime-send-radio1">
            Wyślij natychmiast
        </label>
    </div>
    <div class="radio clip-radio radio-success">
        <input type="radio" id="datetime-send-radio2" name="start[datetime_send]" value="1">
        <label for="datetime-send-radio2">
            Określ datę i czas
        </label>
    </div>
</div>

<div id="dateFormContainer" class="form_disabled">
    <h5>Wybierz datę</h5>
    <span class="form-group input-icon input-icon-right">
        <input type="text" name="start[start][date]" value="{{ form.start.vars.value.date }}" class="form-control" id="datepicker" disabled="true"/>
        <i class="ti-calendar"></i>
    </span>

    <h5>Wybierz czas</h5>
    <span class="form-group input-icon input-icon-right">
        <input type="text" name="start[start][time]" value="{{ form.start.vars.value.time }}" class="form-control" id="timepicker" disabled="true"/>
        <i class="ti-time"></i>
    </span>

</div>

{% do form.datetime_send.setRendered %}
{% do form.start.setRendered %}