<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Test wysyłki
            </h5>
        </div>
        <div class="panel-body row">
            <div class="form-group {% if not form.email.vars.valid %}has-error{% endif %} col-md-4" >

                {{ form_label(form.email, null, {'label_attr': {
                    'class' : 'control-label'
                }}) }}
                {{ form_widget(form.email, {attr: {
                        'class' : 'form-control'
                }}) }}
                {{ form_errors(form.email) }}


            </div>
            <div class="col-md-2">
                {{ form_widget(form.send, {attr: {
                    'class' : 'btn btn-success',
                    'style' : 'margin-top:23px;'
                }}) }}
            </div>
        </div>
    </div>
</div>