{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/appfrontend/vendor/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/ckeditor/adapters/jquery.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/js/admin/template/form.js') }}?ver={{ 'now'|date('U') }}"></script>
    <script>
        var tags = {{ additionalData|raw }};
        jQuery(document).ready(function() {
            TextEditor.init(tags);
        });
    </script>
{% endblock javascripts %}

{% block page_title %}<i class="fa fa-plus"></i> Utwórz szablon{% endblock %}

{% block page_content %}
    {% include 'AppTemplateBundle:Template:Elements/form.html.twig' with {'form': form} %}
{% endblock %}