{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script>
        function calcHeight()
        {
            //find the height of the internal page
            var the_height = document.getElementById('the_iframe').contentWindow.document.body.scrollHeight;

            //change the height of the iframe
            document.getElementById('the_iframe').height = the_height + 20;
        }
    </script>
{% endblock javascripts %}


{% block page_title %}<i class="fa ti-eye"></i> {{ template.name }}{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
                <iframe src="{{ path("app_template_template_preview",{template: template.id}) }}" scrolling="no" id="the_iframe" onLoad="calcHeight();" height="1px" width="100%" frameborder="0" style="width:100%"></iframe>
        </div>
    </div>
{% endblock %}