{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="ti-layers-alt"></i> Lista szablonów{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 space20">
                    <a class="btn btn-wide btn-success" href="{{ path('app_template_template_getcreateform') }}"><i class="fa fa-plus"></i> Utwórz</a>
                </div>
            </div>
            <table class="table table-hover" id="sample-table-1">
                <thead>
                <tr>
                    <th>Adres</th>
                    <th class="hidden-xs">Data aktualizacji</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for template in list %}
                    <tr>
                        <td><a href="{{ path("app_template_template_get",{template: template.id}) }}">{{ template.name }}</a></td>
                        <td class="hidden-xs">{{ template.updated|date("d/m/Y H:i") }}</td>
                        <td class="center">
                            <div class="visible-md visible-lg hidden-sm hidden-xs">
                                <a href="{{ path('app_template_template_get', {'template' : template.id}) }}" class="btn btn-transparent btn-xs" data-toggle="tooltip" title="Podgląd"><i class="fa ti-eye"></i></a>
                                <a href="{{ path('app_template_template_editform', {'template' : template.id}) }}" class="btn btn-transparent btn-xs" data-toggle="tooltip" title="Edytuj"><i class="fa fa-pencil"></i></a>
                                <a href="{{ path('app_template_template_delete', {'template' : template.id}) }}" class="btn btn-transparent btn-xs tooltips remove-popup" data-toggle="tooltip" title="Usuń"><i class="fa fa-times fa fa-white"></i></a>
                            </div>
                            <div class="visible-xs visible-sm hidden-md hidden-lg">
                                <div class="btn-group dropdown">
                                    <button type="button" class="btn btn-success btn-o btn-sm" data-toggle="dropdown">
                                        <i class="fa fa-cog"></i>&nbsp;<span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu pull-right dropdown-light" role="menu">
                                        <li>
                                            <a href="{{ path('app_template_template_get', {'template' : template.id}) }}">
                                                Podgląd
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_template_template_editform', {'template' : template.id}) }}">
                                                Edytuj
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_template_template_delete', {'template' : template.id}) }}" class="remove-popup">
                                                Usuń
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}