<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Parametry podstawowe
            </h5>
        </div>
        <div class="panel-body">
            <div class="form-group {% if not form.autoresponder.name.vars.valid %}has-error{% endif %}">
                {{ form_label(form.autoresponder.name, null, {'label_attr': {
                    'class' : 'control-label'
                }}) }}
                {{ form_widget(form.autoresponder.name, {attr: {
                    'class' : 'form-control'
                }}) }}
                {{ form_errors(form.autoresponder.name) }}
            </div>

            <div><label>Wybierz listy odbiorców na które zapis wyzwala autoresponder</label></div>

            <div class="checkbox clip-check check-success checkbox-inline" >
                {{ form_label(form.autoresponder.recipientGroups, null) }}
                {{ form_widget(form.autoresponder.recipientGroups) }}
            </div>
        </div>
    </div>
</div>

<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Parametry wiadomości
            </h5>
        </div>
        <div class="panel-body">
                <div class="form-group {% if not form.subject.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.subject, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.subject, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.subject) }}
                </div>

                <div class="form-group {% if not form.fromName.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.fromName, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.fromName, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.fromName) }}
                </div>

                <div class="form-group {% if not form.fromEmail.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.fromEmail, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.fromEmail, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.fromEmail) }}
                </div>

                <div class="form-group {% if not form.replyEmail.vars.valid %}has-error{% endif %}">
                    {{ form_label(form.replyEmail, null, {'label_attr': {
                        'class' : 'control-label'
                    }}) }}
                    {{ form_widget(form.replyEmail, {attr: {
                        'class' : 'form-control'
                    }}) }}
                    {{ form_errors(form.replyEmail) }}
                </div>
        </div>
    </div>
</div>




