<div class="panel-group accordion">
    <div class="panel panel-white">
        <div class="panel-heading">
            <h5 class="panel-title accordion-toggle">
                Szablon treści
            </h5>
        </div>
        <div class="panel-body">
            <div class="radio clip-radio radio-success radio-inline">
                {{ form_label(form.template, null) }}
                {{ form_widget(form.template) }}
            </div>
        </div>
    </div>
</div>