{% extends "AppFrontendBundle:Admin:base.html.twig" %}

{% block page_title %}<i class="fa ti-settings"></i> Edytuj ustawienia SMTP{% endblock %}

{% block page_content %}

    {{ form_start(form) }}

    <div class="form-group {% if not form.mailerHost.vars.valid %}has-error{% endif %}">
        {{ form_label(form.mailerHost, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.mailerHost, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.mailerHost) }}
    </div>

    <div class="form-group {% if not form.mailerPort.vars.valid %}has-error{% endif %}">
        {{ form_label(form.mailerPort, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.mailerPort, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.mailerPort) }}
    </div>

    <div class="form-group {% if not form.mailerUsername.vars.valid %}has-error{% endif %}">
        {{ form_label(form.mailerUsername, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.mailerUsername, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.mailerUsername) }}
    </div>

    <div class="form-group {% if not form.mailerPassword.vars.valid %}has-error{% endif %}">
        {{ form_label(form.mailerPassword, null, {'label_attr': {
            'class' : 'control-label',
        }}) }}
        {{ form_widget(form.mailerPassword, {attr: {
            'class' : 'form-control'
        }}) }}
        {{ form_errors(form.mailerPassword) }}
    </div>

    <button type="submit" class="btn btn-success" style="float: right;">{{ 'submit'|trans }}</button>

    {{ form_end(form) }}

{% endblock %}