{% extends '::base.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <!-- start: GOOGLE FONTS -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <!-- end: GOOGLE FONTS -->

    <!-- start: VENDOR CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/fontawesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/vendor/themify-icons/themify-icons.min.css') }}">
    <!-- end: VENDOR CSS -->

    <!-- start: MAIN CSS -->
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/plugins.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/appfrontend/css/admin/theme.css') }}" id="skin_color" />
    <!-- end: MAIN CSS -->
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}
    <!-- start: MAIN JAVASCRIPTS -->
    <script src="{{ asset('bundles/appfrontend/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/modernizr/modernizr.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/jquery-cookie/jquery.cookie.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/switchery/switchery.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/toastr/toastr.min.js') }}"></script>
    <script src="{{ asset('bundles/appfrontend/vendor/sweetalert/sweet-alert.min.js') }}"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: CLIP-TWO JAVASCRIPTS -->
    <script src="{{ asset('bundles/appfrontend/js/admin/main.js') }}?ver={{ 'now'|date('U') }}"></script>
    <script>
        jQuery(document).ready(function() {
            Main.init();
        });
    </script>
    <!-- end: JavaScript Event Handlers for this page -->
    <!-- end: CLIP-TWO JAVASCRIPTS -->
{% endblock javascripts %}

{% block body_class %}login{% endblock body_class %}

{% block body %}
    <div class="row">
        <div class="main-login col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="logo margin-top-30">
                {% block page_content %}{% endblock page_content %}
            </div>
        </div>
    </div>

    {% block footer %}
        {% block page_footer %}{% endblock page_footer %}

        {% include 'AppFrontendBundle:Subscribe:footer.html.twig' %}
    {% endblock footer %}

{% endblock body %}

